<%= form_with(model: orderitem, local: true) do |form| %>
  <% if orderitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderitem.errors.count, "error") %> prohibited this orderitem from being saved:</h2>

      <ul>
      <% orderitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id, id: :orderitem_order_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id, id: :orderitem_product_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :orderitem_quantity %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal, id: :orderitem_subtotal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
