<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user!=nil %>
        <% if current_user.admin? %>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :order_user_id %>
  </div>

  <div class="field">
    <%= form.label :salesTax %>
    <%= form.text_field :salesTax, id: :order_salesTax %>
  </div>

  <div class="field">
    <%= form.label :shippingFee %>
    <%= form.text_field :shippingFee, id: :order_shippingFee %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :order_total %>
  </div>

  <div class="field">
    <%= form.label :methodOfPayment %>
    <%= form.text_field :methodOfPayment, id: :order_methodOfPayment %>
  </div>
  <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
