<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Laptopeshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
</style>
  </head>

  <body>
   
    
    <div class="container-fluid-1">
    <div class="row">
      <div class="col-lg-4">Contact Us</div>
        <div class="col-lg-4">Delivery Service</div>
        <% if current_user !=nil%>
        <% id="/users/"+current_user.id.to_s%>
        <% end %>
          <div class="col-lg-4"><a href = <%=id%> >My Shop Account</a></div>
      </div>
      </div>
      
      <div class="container-fluid-2">
       <div class="row">
         <div class="col-lg-1">
            <%=image_tag("logos/redlap.png",width:'60px') %><a href = '/' style="{color: white;}">
            </div>
       <div class="col-lg-3"> <a href = '/' style="color: white;}">
         <%=image_tag("logos/redhome.png",width:'40px',color:'red') %> 
       The Laptop EShop</a></div>
        <div class="col-lg-4">
          <%= form_tag(products_path , :method => "get", id: "searchbar") do %>
          
          <%= text_field_tag :search , params[:search], placeholder: "Search here" %>
          <% end %>
        </div>
          <div class="col-lg-4">
            <%=image_tag("logos/redcart.png",width:'40px',color:'red') %> Your Cart
            <% if user_signed_in? %>
            <% if  @cart !=nil %>
            <%= render @cart %>
            <% end %>
            <%= button_to "shop", "/products", :method => :get, :form_class => "my_class" %>
            
            <% if session[:cart_id] != nil %>
            <%= button_to "your cart", "/carts/#{session[:cart_id]}", :method => :get, :form_class => "my_class" %>
            <%= button_to "checkout", "/orders/new", :method => :get, :form_class => "my_class" %>
            <% end %>
            <% end %>
            </div>
      </div>
      </div>
      
       
       <div class="container-fluid-3">
    <div class="row">
      <div class="col-lg-4">HP</div>
        <div class="col-lg-4">LENOVO</div>
          <div class="col-lg-4">DELL</div>
      </div>
      </div>
      
      
    <%= yield %>
    
    <% if user_signed_in? %>
    
    <div>
      Signed in as <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path,
      :method => :delete %>)
    </div>
    <% end %>
    <% if !user_signed_in?  %>
    <%= link_to 'Register', new_user_registration_path %> or
    <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
    
    
    
    
    <div class="container-fluid-1">
      <div class="row">
     <div class="col-lg-4">  ABOUT US </div>
        <div class="col-lg-4">
         CONTACT US
        </div>
          <div class="col-lg-4">
            TERMS AND CONDITIONS
            </div>
      </div>
      </div>
  </body>
</html>
